.resources__container{
	background:white;
	padding:1rem;
	border-radius: 20px;
	box-shadow: 5px 5px 20px rgba(0,0,0,.2);
}
.resources__container span img {
	filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.4));
} 
 .resources__container span{
 	position: relative;
 }
.resources__container span span{
	position: absolute;
	opacity: 0;
	width:150px;
	aspect-ratio: 1/1;
	background: rgba(0,0,0,0.4);
	border-radius: 50%;
	left:0;
	top:-65px;
	display: grid;
	place-content: center;
	color:var(--light-green);
	font-weight: bold;
	font-size:1.5rem;
	text-shadow: 1px 1px 1px var(--dark-green);
	transition: 0.33s;
}
.resources__container span span:hover{
	opacity: 1;
	transition: 0.33s;
}
.resources__container h3{
	text-decoration: underline;
	text-decoration-color: var(--dark-green);
}