/* Slider container */
.slider {
  width: var(--carousel-item-width);
/*  border: solid 1px red;*/
  height: 135px;
  overflow: hidden;
  mask-image: linear-gradient(to right, transparent, #000,#000,#000,#000,#000, transparent);
  position: relative;
}

/* The list of items */
.slider .list {
  display: flex;
  width: 100%;
  position: relative;
  will-change: transform;
}

/* Each item in the carousel */
.slider .list .item {
  width: var(--carousel-item-width);
  height: var(--carousel-item-height);
  position: absolute;
  left: 150%; /* Start at the middle */
  opacity: 1; /* Start visible */
  animation: slideIn 14s linear infinite;
  transition: filter 0.5s;
  transform: translateX(-50%); /* Center the items */
}

/* Image inside the item */
.slider .list .item img {
	transform: scale(0.80);
	
  height: 100%;
  width: 100%;
}
.slider .item:hover img{
	transform: scale(1);
  filter: drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
	
  transition: 0.5s;
  transform-origin: center center;
}
/* Keyframe animation for sliding in from the right */
@keyframes slideIn {
  0% {
    left: 100%; /* Start in the middle */
    opacity: 1;
  }
  50% {
    left: 50%; /* Move to normal position */
    opacity: 1;
  }
  100% {
    left: 0%; /* Slide out to the left */
    opacity: 0;
  }
}

/* Reversed animation */
.slider.reverse .list .item {
  animation: slideInReverse 14s linear infinite;
  left: -50%;
}

/* Reversed keyframe animation */
@keyframes slideInReverse {
  0% {
    left: 0%;
    opacity: 0;
  }
  50% {
    left: 50%;
    opacity: 1;
  }
  100% {
    left: 100%;
    opacity: 0;
  }
}

/* Pause animation on hover */
.slider .list:hover .item {
  animation-play-state: paused !important;
  filter: grayscale(1);
}

/* Remove grayscale on item hover */
.slider .item:hover {
  filter: grayscale(0)!important;

}

.slider .item:hover .logo-title {
  background: var(--dark-green) !important;

}

/*.slider .item:hover .logo-title{
	display: block;
	opacity: 1;
	z-index: 100;
	transition: 0.5s;
}*/
.logo-title{
	
	position: absolute;
	text-align: center;
	left:50%;
	transform: translateX(-50%);
/*  border: 1px solid black;*/
  border-radius: 10px;
  height: fit-content;
  margin: 0;
  padding: 0;
  background: var(--secondary-black);
  width: 80px;
  color: white;
  font-size:0.75rem ;
  font-family: var(--text-font);
}