.projects__card{
	background: white;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 10px;
	position: relative;
}
.projects__card:hover{
	transform: scale(1.05);
	filter:drop-shadow(10px 10px 5px rgba(0,0,0,0.2));
	transition: 1s;
}
.projects__image__container .projects__description{
	opacity: 0;
	visibility: hidden;
	display:none;
	top:0;
	text-align: justify;
}
.projects__image__container:hover .projects__description{
	opacity: 1;
	visibility: visible;
	display:flex;
	position: absolute;
	top:17%;
	padding-inline:0.5rem;
	padding-top:2rem;
	background-color: rgba(0,0,0,0.5);
	color:var(--main-white);
	min-height:200px ;
	transition: 1s !important;
}
.projects__image{
	min-height:200px;
	object-fit:cover;
	border-top: 1px solid var(--secondary-black);
}
.projects__btn{
	margin-block: 1rem;
	display: flex;
	justify-content: space-evenly;
/*	gap:1rem;*/
}
.projects__btn__project{
	background: var(--light-green);
	border:2px solid var(--dark-green);
	color: var(--main-black);
	text-decoration: none;
	padding:0.2rem 1rem;
	border-radius: 8px;
}
.projects__btn__repo{
	background: var(--light-purple);
	border:2px solid var(--dark-purple);
	color: var(--main-white);
	text-decoration: none;
	padding:0.2rem 1rem;
	border-radius: 8px;
}

.projects__btn__repo:hover{
	border: 2px dashed var(--dark-purple);
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}
.projects__btn__project:hover{
	border: 2px dashed var(--dark-green);
	box-shadow: 3px 3px 10px rgba(0,0,0,0.3);
}

.projects__select{
	background: transparent;
	border: none;
	height: fit-content;
	width:fit-content !important;
	padding-inline:2rem 1rem;
	appearance: none;
	-webkit-appearance: none;
    -moz-appearance: none;
    float:right;
    text-align: right;
    color: var(--main-black);
    font-size: 1.25rem;
}

.dropdown__container{
	position: relative;
	padding-right:0 !important;
}
.projects__dropdown__icon{
	position:absolute;
	pointer-events: none;
	top:7px;
	right:114px;
}
.projects__select:focus{
	border:none;
}
.projects__select:focus + .down{
	display: none;
}
.projects__select:focus ~ .up{
	display:inline-block;
}
.projects__select ~ .up{
	display: none;
}
.projects__select option{
	font-size: 1rem;
	background: rgba(0,0,0,.2);
}
.projects__subtitle p {
	font-size: 1.25rem;
}
.projects__select:hover, .projects__select:hover ~ .projects__dropdown__icon{
	color:black;
}