.footer span{
	display: flex;
	justify-content: center;
	gap:1rem;
}
.footer__container{
	background:var(--main-black);
	color:var(--main-white);
	position: sticky;
	top:100%;

}
.footer__page{
	min-height: 100vh;
}
